html, body {
    height: 100%;
    margin: 0;
    padding: 0 1px;
}

.color{
    border: 2px solid black;
    color: rgb(255, 255, 255);
}


#row1{
    width: 100%;
    display: grid;
    grid-gap: 4px; 
    grid-template-columns: 4.5fr 2.3fr 3.2fr;
    margin-bottom: 1%;
    height: 10%;
}

#row2{
    width: 100%;
    display: grid;
    grid-gap: 4px; 
    grid-template-columns: 6.8fr 3.2fr;
    margin-bottom: 1%;
    height: 18%;
}

#row3{
    width: 100%;
    display: grid;
    grid-gap: 4px; 
    grid-template-columns: 4.5fr 5.5fr;
    margin-bottom: 1%;
    height: 8%; 
}

#row4{
    width: 100%;
    display: grid;
    grid-gap: 4px; 
    grid-template-columns: 1fr;
    margin-bottom: 1%;
    height:12%
}




.red{
    background-color: red; 
    padding: 8% 45%;
}

.orange{
    background-color: orange;
    padding: 16% 36%;
}

.yellow{
    background-color: yellow; 
    padding: 12% 38%; 
}

.green{
    background-color: green;  
    padding: 11% 48%;
}

.blue{
    background-color: blue;  
    padding: 21% 45%;
    height: 19%;
              
}

.indigo{
    /* background-color: indigo; doesnt match color of example */
    padding: 6% 43%;
    background-color: rgb(248, 41, 255);
}

.violet{
    /* background-color: violet; doesnt match color of example*/ 
    padding: 5% 43%;
    background-color: rgb(179, 48, 163);
}

.black{
    background-color: black; 
    padding: 5% 43%;
}       




 